@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  
    <h1>Bond Management Application</h1>
    <p class="lead text-justify">The Government of People's Republic of Bangladesh have introduce U.S. Dollar Premium Bond & U.S. Dollar Investment
        Bond on the 1st November 2002, with a view to providing the highest profit or interest to the Non-Resident Bangladesh Nationals and
        also Nationals havig his/her origin in Bangladesh.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/image/us doller.jpg" />
            <div class="caption">
                <h3>US Dollar Premium Bond</h3>
                <p class="text-justify">
                    US Dollar Premium Bond is a product designed by Bangladesh Central bank
                    for Bangladeshi national living abroad. The objective of this product is to encourage
                    the NRBs to invest their hard earned money to purchase bonds on which the government guarantees
                    a secure and tax free income with a stable and lucrative interest rate.
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Learn More >></a>

                </p>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/image/pound.jpg" />
            <div class="caption">
                <h3>US Dollar Investment Bond</h3>
                <p class="text-justify">
                    Bangladesh Government Savings Bond issued in equivalent U.S.
                    Dollar against the foreign exchange remitted by the Wage Earners.
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Learn More >></a>
                </p>
            </div>
        </div>
    </div>


    <div class="col-md-4">

        <div class="thumbnail">
            <img src="~/Content/image/taka.jpg" />
            <div class="caption">
                <h3>Wage Earner's Development Bond</h3>
                <p class="text-justify">
                    Wage Earner Development Bond (WEDB) is a product designed by
                    Bangladesh Central bank for Bangladeshi national living abroad. The objective of this
                    product is to encourage the NRBs to invest their hard earned money to purchase bonds on which
                    the government guarantees a secure and tax free income with a stable and lucrative interest rate.
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Learn More >></a>
                </p>
            </div>
        </div>
    </div>
</div>