@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SONALI BANK LIMITED</h1>
    <h3>BOND MANAGEMENT APPLICATION.</h3>
    <p class="lead">Socially committed leading banking institution with global presence.  </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
            Dedicated to extend a whole range of quality products that support divergent needs of
            people aiming at enriching their lives, creating value for the stakeholders and contributing towards socio-economic development of the country.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Vision</h2>
        <p>Socially committed leading banking institution with global presence.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Slogan</h2>
        <p>Your trusted partner in innovating banking.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>