<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <connectionStrings>
    <!--<add name="BondModel" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=bond;Password=bond;Data Source=oracle" />-->
    <!--<add name="BondModelDb" connectionString="DATA SOURCE=10.10.7.30:1521/bond;PASSWORD=bond;PERSIST SECURITY INFO=True;USER ID=BOND" providerName="Oracle.ManagedDataAccess.Client" />-->
    <add name="BondModelDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=BOND;Password=bond;Data Source=10.10.7.30:1521/bond" />
  </connectionStrings>
</configuration>