
@{
    ViewBag.Title = "EditSearch";
}

<h2>EditSearch</h2>
<div class="panel panel-danger">
    <div class="panel-heading">Search for specific Application</div>
    <div class="panel-body">

        @using (Html.BeginForm("Edit", "Application", new { @class = "form-search form-inline" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Enter Application No</label>
                <div>
                    @Html.Editor("id", new { htmlAttributes = new { @class = "form-control input-medium search-query", required = "Required" } })
                    <button type="submit" class="btn">Search</button>
                </div>
            </div>


        }


    </div>
    <div class="panel-footer"></div>
</div>
